/* fonts */
@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Regular.woff);
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-BoldItalic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Black.woff);
    font-weight: 900;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-BlackItalic.woff);
    font-weight: 900;
    font-style: italic;
}

/* elements */
body {
    font-family: Chough, Verdana, sans;
    font-variant-ligatures: discretionary-ligatures;
    font-feature-settings: "ss01" off;
    line-height: 140%;
    margin: 0 10%;
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
    color: RoyalBlue;
}

a:hover {
    text-decoration: underline;
}

tt, code, kbd, samp {
    font-family: Menlo, "Andale Mono", Courier, fixed;
    font-size: 90%;
    background-color: #eee;
    border-radius: .3em;
    border-width: thin;
    border-color: #ccc;
    border-style: solid;
    padding: 0 .15em;
}

h2 {
    margin-top: 1.5em;
}

h3 + h4 {
    margin-top: -1em;
}

h4 {
    font-style: italic;
}

#navbar {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    background-color: LightCyan;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar li.spacer {
    flex-grow: 1;
}

#navbar li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    color: white;
    background-color: RoyalBlue;
}

#navbar li a.selected {
    background-color: white;
}

#content {
    width: 80%;
    margin: auto;
}

#content h1 {
    font-size: 32pt;
}

#content p {
}

.date {
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
    color: gray;
    margin-left: 0.3em;
}

p .date {
    margin: 0; /* no extra space for inline dates */
}

.toc {
    font-size: 80%;
}

.skills {
    margin-top: -0.5em;
    padding: 0;
}

.skills li {
    display: inline;
    font-size: 90%;
    background-color: #eee;
    border-radius: .3em;
    border-width: thin;
    border-color: #ccc;
    border-style: none;
    padding: 0 .15em;
    font-style: italic;
}
