/* fonts */
@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Regular.woff);
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-BoldItalic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-Black.woff);
    font-weight: 900;
}

@font-face {
    font-family: Chough;
    src: url(/assets/fonts/Chough-BlackItalic.woff);
    font-weight: 900;
    font-style: italic;
}

/* elements */
body {
    font-family: Chough, Verdana, sans;
    line-height: 140%;
    margin: 0; /* no gap between top and navbar */
    color: #000040;
    background-color: #fffff8;
}

h1 {
    font-style: italic;
}

#navbar {
    /*background-color: lightgray;*/
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-style: italic;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    background-color: LightCyan;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar li.spacer {
    flex-grow: 1;
}

#navbar li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    color: white;
    background-color: magenta;
}

#content {
    width: 80%;
    margin: auto;
}

#content h1 {
    font-size: 32pt;
}

#content p {
    font-size: 14pt;
}

