<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css"/>
        <link rel="stylesheet" href="/assets/css/fontsampler-skin.css"/>
        <script src="assets/js/fontsampler.js"></script>
        <script src="assets/js/fontsampler-skin.js"></script>
    </head>
    <body>
        <div id="navbar">
            {% include navigation.html %}
        </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="footer">
        </div>
    </body>
</html>
