<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css"/>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="/index.html">Home</a>
                <li><a href="/about.html">About</a>
                <li><a href="/type.html">Type Design</a>
                <li><a href="/music.html">Music</a>
                <li><a href="/resume.html">Resume</a>
                <li class="spacer">
                <li><a href="/contact.html">Contact</a>
            </ul>
        </div>
        <div id="content">
            {{ content }}
        </div>
        <div id="footer">
        </div>
    </body>
</html>
