---
layout: default
---
<h1>{{ page.font_name }}</h1>
{{ content }}

<div id="demo"></div>

<script>
let node = document.getElementById("demo");
let options = {
  initialText: "jim quickly realized that beautiful gowns are expensive. JIM QUICKLY REALIZED THAT BEAUTIFUL GOWNS ARE EXPENSIVE!",
  order: [["fontfamily", "fontsize"]],
  config: {
    //opentype: {
    //  choices: [
    //    "ss01|Stylistic Set 1"
    //  ],
    //  label: "Opentype features"
    //},
    fontfamily: {
      init: "{{ page.font_name }} {{ page.default_font_style }}"
    },
    alignment: {
      init: "center"
    }
  }
};
let fonts = [
  {% for style in page.font_styles %}
    {
      name: "{{ page.font_name }} {{ style }}",
      files: ["/assets/fonts/{{ page.font_name }}-{{ style | replace: " ", "" }}.woff"]
    },
  {% endfor %}
];
let fs = new Fontsampler(node, fonts, options);
FontsamplerSkin(fs);
fs.init();
</script>
